/*   style    */

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(24, 26, 122);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE4MWE3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

#root {
  display: flex;
  justify-content: space-around;
}

button.operator {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 35px;
  margin: 1%;
  flex: 1 20%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #666;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8),
    inset 0 2px 1px rgba(255, 255, 255, 0.8);
  background: linear-gradient(to bottom, #ddd 0%, #bbb 100%);
  outline: none;
  font-size: 1em;
  color: #333;
}

button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8),
    inset 0 0 3px 2px rgba(255, 255, 255, 0.5);
  background: linear-gradient(to bottom, #ddd 0%, #ccc 100%);
}

.man {
  margin-top: 30px;
  display: block;
  background-repeat: no-repeat;
  display: block;
  width: 600px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  text-decoration: underline;
}

.bad-mood {
  display: none;
}

.man {
  /* background-image: url('../img/suit/0.png'); */
  background-repeat: no-repeat, no-repeat !important;
  background-position: 50% 0, center top !important;
  background-size: 50%, 100% !important;
  -moz-background-size: 50%, 100% !important;
}

.ba {
  color: green;
  background: none;
}

.ab {
  color: red;
  background: none;
}

.response {
  font-size: 12px;
  background-color: #000;
  display: inline-block;
  padding: 10px;
  position: absolute;
  left: 66%;
  top: 15%;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #737272;
  font-family: Helvetica, Arial;
}

.select {
  position: absolute;
  right: 20px;
  top: 20px;
}

.face {
  position: absolute;
  left: 33%;
  top: -3px;
  width: 33%;
  margin-left: 2px;
}

#jquery-live-search {
  background: url("../img/jquery-live-search-bg.png");
  padding: 5px 10px;
  max-height: 400px;
  overflow: auto;
  position: absolute;
  z-index: 99;
  border: 1px solid #a9a9a9;
  border-width: 0 1px 1px 1px;
  width: 500px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

div#result ul li a {
  color: #bfbfbf;
}

div#result ul {
  list-style: none;
}

.company-symbol {
  text-shadow: 0 0 7px #fff, 0 0 3px #fff, 0 0 6px #fff, 0 0 1px #0fa,
    0 0 10px #0fa, 0 0 16px #0fa, 0 0 18px #0fa, 0 0 28px #0fa;
}

.example001 {
  margin: 0;
  position: fixed;
  top: 1px;
  background: rgba(81, 132, 162, 0.399);
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.example001 ul {
  padding: 0;
}
.example001 ul li {
  display: inline;
}

.liveresult__result {
  color: #fff;
  display: block;
  font-family: Helvetica, Arial;
  font-size: 0.9em;
  cursor: crosshair;
}
